@import 'normalize';
@include normalize();

/* Variables */

$blue: linear-gradient(to bottom, #011eff 0%, #00129e 100%);
$white: #f2f2f2;
$orange: #df7619;
$font: 'IBM Plex Serif', serif;

/* General Page Rules */

html,
body {
  background: $white;
  box-sizing: border-box;
  font-family: $font;
  font-size: 22px;
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page-container {
  display: flex;
  min-height: 100%;
}

/* Sidebar */

.sidebar {
  align-items: center;
  background: $blue;
  color: $white;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 18.181rem;
}

.header__icon {
  display: block;
  height: 7.594rem;
  margin: 2rem auto 0.5rem;
  width: 7.594rem;
}

.header__title {
  font-size: 2.1rem;
  margin-top: 0;
  text-align: center;
}

.game-information {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.timer__text,
.move-counter__text {
  font-size: 1rem;
}

.rating__star-list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.rating__star-icon {
  margin: 0 0.2rem;
}

.start-button,
.restart-button {
  background-color: $orange;
  border: 0;
  box-shadow: 0 5px 0 0 darken($orange, 10%);
  color: $white;
  font-family: $font;
  margin: 20px;
  outline: none;
  padding: 15px 20px;
  position: relative;
  text-decoration: none;

  &:active {
    box-shadow: 0 1px 0 0;
    transform: translate(0, 5px);
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: lighten($orange, 5%);
  }
}

.svg-inline--fa {
  margin-right: 0.2rem;
}

.deck .svg-inline--fa {
  font-size: 1.5rem;
}

.restart-button {
  margin-bottom: 2rem;
}

/* Main Content Area */

.main {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100%;
  width: 100%;
}

.deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  max-width: 27.272rem;
  padding-left: 0;
}

.deck__card-container {
  height: 5.681rem;
  margin-bottom: 1rem;
  perspective: 800px;
  position: relative;
  width: 5.681rem;
}

.deck__card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

.deck__card figure {
  align-items: center;
  backface-visibility: hidden;
  color: $white;
  display: block;
  display: flex;
  font-size: 25px;
  height: 100%;
  justify-content: center;
  margin: 0;
  position: absolute;
  width: 100%;
}

.deck__card .deck__card--front {
  background: $blue;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.deck__card .deck__card--back {
  background: $orange;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transform: rotateY(180deg);
}

.deck__card.flipped {
  transform: rotateY(180deg);
}

/* Media Queries */

@media screen and (max-width: 975px) {
  .deck {
    max-width: 21rem;
  }
}

@media screen and (max-width: 800px) {
  .deck {
    max-width: 14rem;
  }
}

@media screen and (max-width: 670px) {
  .page-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .main {
    margin-top: 2rem;
  }
}







