/* General Page Rules */
html,
body {
  background: #f2f2f2;
  box-sizing: border-box;
  font-family: 'IBM Plex Serif', serif;
  font-size: 22px;
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page-container {
  display: flex;
  min-height: 100%;
}

/* Sidebar */
.sidebar {
  align-items: center;
  background: linear-gradient(to bottom, #011eff 0%, #00129e 100%);
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 18.181rem;
}

.header__icon {
  display: block;
  height: 7.594rem;
  margin: 2rem auto 0.5rem;
  width: 7.594rem;
}

.header__title {
  font-size: 2.1rem;
  margin-top: 0;
  text-align: center;
}

.game-information {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.timer__text,
.move-counter__text {
  font-size: 1rem;
}

.rating__star-list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.rating__star-icon {
  margin: 0 0.2rem;
}

.start-button,
.restart-button,
.modal__restart-button {
  background-color: #df7619;
  border: 0;
  box-shadow: 0 5px 0 0 #b15e14;
  color: #f2f2f2;
  font-family: 'IBM Plex Serif', serif;
  margin: 20px;
  outline: none;
  padding: 15px 20px;
  position: relative;
  text-decoration: none;
}

.start-button:active,
.restart-button:active,
.modal__restart-button:active {
  box-shadow: 0 1px 0 0;
  transform: translate(0, 5px);
}

.start-button:focus,
.restart-button:focus,
.modal__restart-button:focus {
  outline: none;
}

.start-button:hover,
.restart-button:hover,
.modal__restart-button:hover {
  background-color: #e7832a;
}

.svg-inline--fa {
  margin-right: 0.2rem;
}

.deck .svg-inline--fa {
  font-size: 1.5rem;
}

.restart-button {
  margin-bottom: 2rem;
}

/* Main Content Area */
.main {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100%;
  width: 100%;
}

.deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  max-width: 27.272rem;
  padding-left: 0;
}

.deck__card-container {
  height: 5.681rem;
  margin-bottom: 1rem;
  perspective: 800px;
  position: relative;
  width: 5.681rem;
}

.deck__card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  width: 100%;
}

.deck__card:hover {
  cursor: pointer;
}

.deck__card figure {
  align-items: center;
  backface-visibility: hidden;
  color: #f2f2f2;
  display: block;
  display: flex;
  font-size: 25px;
  height: 100%;
  justify-content: center;
  margin: 0;
  position: absolute;
  width: 100%;
}

.deck__card .deck__card--front {
  background: linear-gradient(to bottom, #011eff 0%, #00129e 100%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.deck__card .deck__card--back {
  background: #df7619;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transform: rotateY(180deg);
}

.deck__card.flipped {
  transform: rotateY(180deg);
}

/* Media Queries */
@media screen and (max-width: 975px) {
  .deck {
    max-width: 21rem;
  }
}

@media screen and (max-width: 800px) {
  .deck {
    max-width: 14rem;
  }
}

@media screen and (max-width: 670px) {
  .page-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .main {
    margin-top: 2rem;
  }
}

/* Modal */
.modal {
  align-items: center;
  background: #011eff;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  z-index: 1010;
}

.modal h2 {
  margin: 1rem 1rem 0;
  text-transform: uppercase;
}

.modal p {
  padding: 0 1rem;
}

.modal-overlay {
  background: rgba(92, 92, 92, 0.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.modal__restart-button {
  margin-bottom: 2rem;
}

.modal.closed,
.modal-overlay.closed {
  display: none;
}
